/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0;
  color: #000000;
  font-family: 'Open Sans', sans-serif; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.container {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 8px; }
  @media screen and (min-width: 1024px) {
    .container {
      padding: 0 36px; } }
  @media screen and (min-width: 1440px) {
    .container {
      padding: 0 80px;
      max-width: 1440px; } }

.hidden {
  display: none; }

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 0;
  right: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-dots li {
  font-size: 0px;
  height: 10px;
  width: 10px;
  padding: 0;
  position: relative;
  margin-right: 8px; }

.slick-dots li:first-child {
  margin-left: auto; }

.slick-dots li:last-child {
  margin-right: auto; }

.slick-dots li button {
  font-size: 0px;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: #9d9d9d;
  border: none;
  padding: 0;
  position: absolute;
  top: 1px;
  left: 1px; }

.slick-dots .slick-active button {
  background-color: #0b98f2; }

.slick-dots {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slick-dots {
  margin-top: 30px; }

.header {
  min-height: 40px;
  background-color: #0b98f2;
  padding: 5px; }

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (min-width: 768px) {
    .toggle {
      display: none; } }

.toggle__dscr {
  color: #ffffff;
  margin: 0;
  width: 50%; }

.toggle__btn {
  height: 48px;
  border: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #9d9d9d;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-radius: 5px; }
  .toggle__btn:active {
    background-color: #b10000; }

.toggle__btn--1column {
  margin-left: 20px; }

.toggle__btn--2column {
  margin-left: auto; }

.main-content {
  padding: 30px 0; }

.main-content__title {
  font-size: 25px; }

.products__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.product {
  position: relative;
  background-color: #ffffff;
  padding: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (min-width: 1024px) {
    .product {
      max-width: 264px;
      width: 100%;
      padding: 27px;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-box-shadow: 0px 11px 31px -10px #9d9d9d;
      box-shadow: 0px 11px 31px -10px #9d9d9d; } }

.product--alloy:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: 15px;
  background-image: url("../img/sprite.svg#icon-fill");
  background-repeat: no-repeat;
  background-position: 50%; }

.product__img-wrapper {
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block; }

.product__img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain; }

.product__like-svg {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 15px;
  right: 15px; }

.product__like-svg {
  cursor: pointer;
  fill: transparent; }
  .product__like-svg:hover {
    fill: #9d9d9d; }
  .product__like-svg use {
    fill: transparent;
    -webkit-transition: fill ease 0.3s;
    transition: fill ease 0.3s; }
    .product__like-svg use:hover {
      fill: #9d9d9d; }

.product__like-svg--active {
  fill: #b10000; }
  .product__like-svg--active use {
    fill: #b10000; }

.product__reviews {
  display: block;
  font-size: 13px;
  line-height: 22px;
  color: #9d9d9d;
  padding-left: 20px;
  margin-bottom: 10px;
  position: relative; }
  .product__reviews:after {
    content: "";
    width: 18px;
    height: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../img/icon-reviews.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%; }

.product__reviews--active {
  color: #b10000;
  -webkit-transition: all ease .1s;
  transition: all ease .1s; }
  .product__reviews--active:after {
    background-image: url("../img/icon-reviews-active.png"); }
  .product__reviews--active:before {
    content: "";
    opacity: 0;
    width: 100px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../img/stars.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    -webkit-transition: opacity ease .5s;
    transition: opacity ease .5s; }
  .product__reviews--active:hover {
    font-size: 0; }
    .product__reviews--active:hover:after {
      opacity: 0; }
    .product__reviews--active:hover:before {
      opacity: 1; }

.product__title {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 10px;
  text-align: center; }

.product__title-link {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color ease .3s;
  transition: color ease .3s; }
  .product__title-link:hover, .product__title-link:focus {
    color: #5ebcf7; }
  .product__title-link:active {
    opacity: 0.7; }

.product__price {
  max-width: 60%;
  width: 100%; }

.parameters-table {
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
  width: 100%; }

.parameters-table__colunm {
  font-size: 13px;
  line-height: 1.4;
  padding-top: 5px;
  padding-bottom: 5px; }

.parameters-table__link {
  color: #5ebcf7;
  text-decoration: none;
  text-align: right;
  -webkit-transition: color ease .3s;
  transition: color ease .3s; }
  .parameters-table__link:hover, .parameters-table__link:focus {
    color: #b10000;
    text-decoration: underline; }
  .parameters-table__link:active {
    opacity: .8; }

.price__num {
  font-size: 16px;
  line-height: 20px;
  color: #b10000;
  font-weight: bold;
  display: block; }

.price__bonus {
  font-size: 13px;
  line-height: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }
  .price__bonus:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url("../img/sprite.svg#icon-pig");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    -webkit-transition: all ease .3s;
    transition: all ease .3s; }
  .price__bonus:hover:before {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }

.price__bonus--active::after {
  content: "";
  display: block;
  opacity: 0;
  background-color: #000000;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  position: absolute;
  top: -5px;
  left: 7px;
  -webkit-animation: pigAnimation .5s linear;
  animation: pigAnimation .5s linear; }

@-webkit-keyframes pigAnimation {
  0% {
    opacity: 1;
    top: -5px; }
  100% {
    opacity: 1;
    top: 5px; } }

@keyframes pigAnimation {
  0% {
    opacity: 1;
    top: -5px; }
  100% {
    opacity: 1;
    top: 5px; } }

.cart-btn {
  display: block;
  background-color: #0b98f2;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  bottom: 10px;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
  -webkit-box-shadow: -4px 11px 11px -9px #5ebcf7;
  box-shadow: -4px 11px 11px -9px #5ebcf7; }
  .cart-btn:hover, .cart-btn:focus {
    background-color: #5ebcf7;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
    .cart-btn:hover .cart-btn__svg, .cart-btn:focus .cart-btn__svg {
      height: 22px;
      width: 22px;
      position: absolute;
      top: 12px;
      left: 12px; }
  .cart-btn:active {
    opacity: 0.7; }

.cart-btn__svg {
  height: 22px;
  width: 22px;
  position: absolute;
  top: 12px;
  left: 12px;
  fill: #ffffff; }

.cart-btn__svg use {
  fill: #ffffff; }

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
  z-index: 2; }
  @media screen and (min-width: 768px) {
    .popup {
      width: 500px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 48px;
      top: 30%; } }

.popup__close {
  display: block;
  height: 40px;
  width: 40px;
  position: absolute;
  top: -20px;
  right: 20px;
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: 0px -22px 52px -8px white;
  box-shadow: 0px -22px 52px -8px white; }
  @media screen and (min-width: 768px) {
    .popup__close {
      top: 20px;
      right: -20px; } }

.popup__close-svg {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5px;
  left: 5px; }

.popup--show {
  display: block; }

.popup__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0; }

@media screen and (min-width: 1024px) {
  .popup--card {
    width: 100%;
    max-width: 830px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 48px;
    top: 30%; } }

.popup__title {
  text-align: left; }

.popup__wrapper-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 30px; }
  @media screen and (min-width: 1024px) {
    .popup__wrapper-top {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; } }

.popup__img {
  height: 24px;
  width: 24px; }
  @media screen and (min-width: 1024px) {
    .popup__img {
      height: 38px;
      width: 38px; } }

.popup__item-dscr {
  width: 80%;
  text-align: left; }
  @media screen and (min-width: 768px) {
    .popup__item-dscr {
      margin-right: auto;
      margin-left: 10px; } }
  @media screen and (min-width: 1024px) {
    .popup__item-dscr {
      width: 40%;
      margin-right: 0;
      margin-left: 0; } }

.popup__link-title {
  font-size: 16px;
  line-height: 20px; }

.popup__info {
  font-size: 13px;
  line-height: 18px; }

.popup__count {
  width: 100px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto; }
  @media screen and (min-width: 768px) {
    .popup__count {
      margin-right: 0; } }

.popup__dec-btn {
  width: 32px;
  background-color: #9d9d9d;
  border: none; }

.popup__inc-btn {
  width: 32px;
  background-color: #9d9d9d;
  border: none; }

.popup__dec-btn:hover, .popup__dec-btn:active,
.popup__inc-btn:hover,
.popup__inc-btn:active {
  color: #0b98f2; }

.popup__input-count {
  width: 33px;
  text-align: center;
  border: none;
  border-top: 1px solid #9d9d9d;
  border-bottom: 1px solid #9d9d9d; }

.popup__price-item {
  display: none;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    .popup__price-item {
      display: block; } }

.popup__price-total {
  font-weight: bold; }

.popup__delete-btn {
  border: none;
  background-color: transparent; }

.popup__basket-svg {
  width: 32px;
  height: 32px;
  fill: #9d9d9d; }
  .popup__basket-svg:hover, .popup__basket-svg:active {
    opacity: .7; }

@media screen and (min-width: 1024px) {
  .popup__wrapper-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

.popup__continue {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px dotted #000000; }

.popup__card-link {
  display: block;
  width: 80%;
  max-width: 220px;
  height: 40px;
  border: 2px solid #0b98f2;
  margin: 0 auto;
  margin-top: 30px;
  text-decoration: none;
  color: #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 6px;
  font-size: 16px;
  line-height: 20px; }
  .popup__card-link:hover, .popup__card-link:active {
    background-color: #0b98f2;
    color: #ffffff; }
  @media screen and (min-width: 1024px) {
    .popup__card-link {
      margin: 0; } }

.footer {
  min-height: 100px;
  background-color: #9d9d9d; }
