/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,800|Open+Sans&display=swap&subset=cyrillic,cyrillic-ext");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #ffffff; }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.container {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 8px; }
  @media screen and (min-width: 1024px) {
    .container {
      padding: 0 36px; } }
  @media screen and (min-width: 1440px) {
    .container {
      padding: 0 80px;
      max-width: 1440px; } }

.hidden {
  display: none; }

.header {
  background-image: url("../img/background_mobile.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .header {
      background-image: url("../img/background_tab.jpg"); } }
  @media screen and (min-width: 1440px) {
    .header {
      background-image: url("../img/background_desk.jpg"); } }

.header__wrapper {
  padding-top: 40px;
  padding-bottom: 60px; }
  @media screen and (min-width: 1024px) {
    .header__wrapper {
      padding-top: 14px;
      padding-bottom: 50px; } }

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 1024px) {
    .header__top {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; } }

@media screen and (min-width: 1024px) {
  .header__logo-picture {
    margin-right: 15px; } }

.header__logo {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -44px; }
  .header__logo:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  @media screen and (min-width: 1024px) {
    .header__logo {
      position: static;
      margin: 0;
      height: 108px; } }
  @media screen and (min-width: 1440px) {
    .header__logo {
      margin-right: 2%; } }

.header__logo-img {
  height: 88px;
  width: 88px; }
  @media screen and (min-width: 1024px) {
    .header__logo-img {
      height: 108px;
      width: 108px; } }
  @media screen and (min-width: 1440px) {
    .header__logo-img {
      height: 111px;
      width: 111px; } }

.header__town-link {
  margin-right: auto;
  width: 50%;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 22px;
  padding-top: 5px; }
  .header__town-link:hover, .header__town-link:active {
    color: #fe8057; }
  @media screen and (min-width: 1024px) {
    .header__town-link {
      width: auto;
      padding: 0;
      margin: 0; } }
  @media screen and (min-width: 1440px) {
    .header__town-link {
      font-size: 16px;
      margin-right: 2.5%; } }

.header__menu-btn {
  margin-left: auto;
  height: 27px;
  width: 40px;
  position: relative;
  background-color: transparent;
  border: none;
  margin-right: 25px; }
  @media screen and (min-width: 1024px) {
    .header__menu-btn {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      margin: 0;
      margin-left: 20px; } }
  @media screen and (min-width: 1440px) {
    .header__menu-btn {
      display: none; } }

.header__menu-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 27px;
  width: 40px;
  background-image: url("../img/burger_menu.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }

.header__menu-btn--close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 31px;
  width: 31px;
  background-image: url("../img/close_icon.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }

.header__tel-link {
  display: none; }
  @media screen and (min-width: 1024px) {
    .header__tel-link {
      display: inline; } }
  @media screen and (min-width: 1440px) {
    .header__tel-link {
      margin-right: 1.5%; } }

.header__nav {
  display: none;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
  @media screen and (min-width: 1024px) {
    .header__nav {
      display: block; } }
  @media screen and (min-width: 1440px) {
    .header__nav {
      margin-right: 5.2%; } }

.header__user {
  display: none; }
  @media screen and (min-width: 1440px) {
    .header__user {
      display: block; } }

.header__menthor {
  display: none;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }
  @media screen and (min-width: 1024px) {
    .header__menthor {
      display: block; } }
  @media screen and (min-width: 1440px) {
    .header__menthor {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      margin-right: 40px; } }

.header__main {
  padding-top: 65px; }
  @media screen and (min-width: 1024px) {
    .header__main {
      padding-top: 120px;
      padding-left: 430px; } }
  @media screen and (min-width: 1440px) {
    .header__main {
      padding-left: 560px; } }

.header__main-slogan {
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 43px;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1024px) {
    .header__main-slogan {
      font-size: 36px;
      line-height: 42px;
      margin-top: 0;
      text-align: left;
      margin-bottom: 37px; } }
  @media screen and (min-width: 1440px) {
    .header__main-slogan {
      font-size: 42px;
      line-height: 48px;
      max-width: 623px;
      margin-right: 10px;
      letter-spacing: 1px; } }

.header__orange-text {
  color: #fe8057; }

.header__main-dscr {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 65px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (min-width: 1024px) {
    .header__main-dscr {
      font-size: 14px;
      line-height: 18px;
      text-align: left;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 90px;
      margin-top: 0;
      margin-bottom: 40px; } }
  @media screen and (min-width: 1440px) {
    .header__main-dscr {
      max-width: 620px;
      font-size: 16px;
      line-height: 20px;
      padding-left: 240px;
      margin-right: 40px;
      position: relative;
      margin-bottom: 58px; }
      .header__main-dscr:after {
        content: "";
        width: 179px;
        height: 65px;
        position: absolute;
        top: -12px;
        left: 45px;
        background-image: url("../img/stars.png");
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat; } }

.header__sroll {
  display: none; }
  @media screen and (min-width: 1024px) {
    .header__sroll {
      display: block; } }

.header__reg-btn {
  width: 100%;
  max-width: 304px;
  margin: 0 auto;
  border-radius: 4px; }
  @media screen and (min-width: 1440px) {
    .header__reg-btn {
      margin-right: 110px; } }

.header__top--menu-active {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-animation: navAnimate ease-in 0.4s;
  animation: navAnimate ease-in 0.4s; }
  .header__top--menu-active .header__nav {
    display: block; }
  .header__top--menu-active .header__menthor {
    display: block; }
  .header__top--menu-active .header__user {
    display: block; }
  .header__top--menu-active .header__menu-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 31px;
    width: 31px;
    background-image: url("../img/close_icon.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat; }
  @media screen and (min-width: 1024px) {
    .header__top--menu-active {
      height: 165px;
      width: 110px; } }

@-webkit-keyframes mouseAnimate {
  0% {
    top: 10px; }
  100% {
    top: 20px; } }

@keyframes mouseAnimate {
  0% {
    top: 10px; }
  100% {
    top: 20px; } }

@-webkit-keyframes navAnimate {
  0% {
    left: -320px; }
  70% {
    left: 100px; }
  100% {
    left: 0; } }

@keyframes navAnimate {
  0% {
    left: -320px; }
  70% {
    left: 100px; }
  100% {
    left: 0; } }

.main-nav {
  width: 100%;
  padding-top: 65px; }
  @media screen and (min-width: 1024px) {
    .main-nav {
      padding: 0;
      max-width: 330px; } }
  @media screen and (min-width: 1440px) {
    .main-nav {
      max-width: 370px; } }

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 50px;
  position: relative; }
  @media screen and (min-width: 1024px) {
    .main-nav__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-line-pack: center;
      align-content: center;
      margin: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-left: 17px;
      padding-right: 12px; } }
  @media screen and (min-width: 1440px) {
    .main-nav__list {
      padding-left: 10px;
      padding-right: 18px; } }

.main-nav__list::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  bottom: -30px; }
  @media screen and (min-width: 1024px) {
    .main-nav__list::after {
      display: none; } }

.main-nav__item {
  margin-bottom: 11px; }
  @media screen and (min-width: 1024px) {
    .main-nav__item {
      margin: 0;
      margin-right: 35px; }
      .main-nav__item:last-child {
        margin-right: 0; } }

.main-nav__link {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400; }
  @media screen and (min-width: 1024px) {
    .main-nav__link {
      font-size: 14px; }
      .main-nav__link:hover {
        color: #fe8057;
        padding-bottom: 2px;
        border-bottom: 1px solid #fe8057;
        -webkit-transition: border ease-in .4s;
        transition: border ease-in .4s; } }
  @media screen and (min-width: 1440px) {
    .main-nav__link {
      font-size: 16px; } }

@media screen and (min-width: 1024px) {
  .main-nav__link--active {
    padding-bottom: 2px;
    border-bottom: 1px solid #fe8057; } }

.tel-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  padding-left: 25px;
  position: relative; }
  .tel-link:hover, .tel-link:active {
    color: #fe8057; }
  @media screen and (min-width: 1440px) {
    .tel-link {
      font-size: 16px; } }

.tel-link:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/telefon_icon.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }

.menthor-list {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .menthor-list {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      width: 150px; } }
  @media screen and (min-width: 1440px) {
    .menthor-list {
      -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
      order: 0;
      width: 200px;
      margin-right: 2.5%; } }

.menthor-list__link {
  display: block;
  width: 65%;
  max-width: 196px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 17px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  border: 2px solid #fe8057;
  margin: 0 auto;
  border-radius: 4px;
  background-color: transparent;
  -webkit-transition: background ease .5s;
  transition: background ease .5s; }
  .menthor-list__link:hover, .menthor-list__link:active {
    background-color: #fe8057; }
  @media screen and (min-width: 1024px) {
    .menthor-list__link {
      width: 100%;
      margin: 0; } }

.user-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  margin-bottom: 10px; }
  @media screen and (min-width: 1024px) {
    .user-list {
      border-radius: 15px 0px 15px 15px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 30px; } }
  @media screen and (min-width: 1440px) {
    .user-list {
      width: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0;
      margin-bottom: 0; } }

.user-list__item {
  margin-bottom: 5px; }
  @media screen and (min-width: 1440px) {
    .user-list__item {
      margin-bottom: 0;
      margin-right: 30px; }
      .user-list__item:last-child {
        margin-right: 0; } }

.user-list__link {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400; }
  .user-list__link:hover, .user-list__link:active {
    color: #fe8057; }
  @media screen and (min-width: 1024px) {
    .user-list__link {
      color: #000;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      padding: 0;
      margin-bottom: 10px; } }
  @media screen and (min-width: 1440px) {
    .user-list__link {
      display: inline-block;
      vertical-align: top;
      width: 100%;
      text-align: center;
      font-size: 16px;
      line-height: 21px;
      padding-top: 0;
      padding-bottom: 0;
      text-decoration: none;
      color: #ffffff;
      font-weight: 400;
      margin-bottom: 0; } }

.header__user--tab-active {
  display: block;
  width: 165px;
  height: 110px;
  position: absolute;
  top: 110px;
  right: 36px;
  -webkit-animation: fadeIn ease-in .3s;
  animation: fadeIn ease-in .3s;
  background-color: #ffffff; }

@-webkit-keyframes fadeIn {
  0% {
    right: -200px; }
  70% {
    right: 230px; }
  100% {
    right: 36px; } }

@keyframes fadeIn {
  0% {
    right: -200px; }
  70% {
    right: 230px; }
  100% {
    right: 36px; } }

@media screen and (min-width: 1024px) {
  .scroll-block {
    padding-top: 140px; } }

@media screen and (min-width: 1440px) {
  .scroll-block {
    padding-top: 175px; } }

.scroll-block__btn {
  height: 42px;
  width: 24px;
  display: block;
  margin: 0 auto;
  font-size: 0;
  position: relative;
  border-radius: 15px; }
  .scroll-block__btn:hover:after {
    background-color: #fe8057; }
  .scroll-block__btn:after {
    content: "";
    display: block;
    height: 36px;
    width: 18px;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #ffffff;
    border-radius: 15px;
    -webkit-transition: background ease .2s;
    transition: background ease .2s; }
  .scroll-block__btn:before {
    content: "";
    display: block;
    height: 8px;
    width: 2px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff;
    -webkit-animation: mouseAnimate ease 1s infinite;
    animation: mouseAnimate ease 1s infinite;
    z-index: 1; }
  @media screen and (min-width: 1440px) {
    .scroll-block__btn {
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      text-decoration: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding-top: 60px;
      color: #ffffff;
      height: 80px;
      width: 130px; }
      .scroll-block__btn:after {
        content: "";
        display: block;
        height: 36px;
        width: 18px;
        position: absolute;
        top: 5px;
        left: 55px;
        border: 2px solid #ffffff;
        border-radius: 15px; }
      .scroll-block__btn:before {
        content: "";
        display: block;
        height: 8px;
        width: 2px;
        position: absolute;
        top: 10px;
        left: 65px;
        background-color: #ffffff;
        -webkit-animation: mouseAnimate ease 1s infinite;
        animation: mouseAnimate ease 1s infinite; } }

.btn {
  display: block;
  background-color: #fe8057;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 20px;
  -webkit-transition: background ease .5s;
  transition: background ease .5s;
  border: 2px solid transparent; }
  .btn:hover {
    background-color: transparent;
    border: 2px solid #fe8057; }

.main-block__wrapper {
  padding-top: 45px; }

@media screen and (min-width: 1024px) {
  .about-menthors__wrapper {
    padding-top: 67px; } }

@media screen and (min-width: 1440px) {
  .about-menthors__wrapper {
    padding-top: 75px; } }

.about-menthors__count-btn {
  display: none;
  -webkit-transition: all ease .5s;
  transition: all ease .5s; }
  .about-menthors__count-btn:hover {
    background-color: #fe8057;
    color: #ffffff; }
  .about-menthors__count-btn:active {
    opacity: 0.7; }
  @media screen and (min-width: 1024px) {
    .about-menthors__count-btn {
      display: block;
      color: #fe8057;
      font-size: 18px;
      font-weight: 600;
      line-height: 23px;
      text-decoration: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 11px 65px;
      border: 2px solid #fe8057;
      margin: 0 auto;
      width: 100%;
      max-width: 560px;
      border-radius: 40px;
      margin-bottom: 20px; } }
  @media screen and (min-width: 1440px) {
    .about-menthors__count-btn {
      font-size: 20px;
      line-height: 25px;
      padding: 15px 114px;
      max-width: 700px; } }

@media screen and (min-width: 1024px) {
  .program-selection__wrapper {
    padding-top: 65px; } }

@media screen and (min-width: 1440px) {
  .program-selection__wrapper {
    padding-top: 90px; } }

.program-selection__title {
  color: #4e93e1;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 45px; }
  @media screen and (min-width: 1024px) {
    .program-selection__title {
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 75px; } }
  @media screen and (min-width: 1440px) {
    .program-selection__title {
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 1px;
      margin-bottom: 92px; } }

.program-selection__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media screen and (min-width: 1024px) {
    .program-selection__list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.program-selection__list-item {
  margin-bottom: 20px; }

.program-selection__list-item-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  margin: 0 auto;
  height: 412px; }
  @media screen and (min-width: 1024px) {
    .program-selection__list-item-wrapper {
      height: 450px; } }

.program-selection__picture {
  position: relative;
  z-index: 1;
  width: 100%; }

.program-selection__img {
  vertical-align: bottom;
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%; }

.program-selection__mini-title {
  background: rgba(0, 0, 0, 0.52);
  margin-top: -100px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 27px 64px;
  text-align: center;
  margin: 0;
  width: 100%;
  -webkit-transition: background ease .3s;
  transition: background ease .3s; }
  @media screen and (min-width: 1024px) {
    .program-selection__mini-title {
      padding-top: 22px; } }
  @media screen and (min-width: 1440px) {
    .program-selection__mini-title {
      padding: 20px 109px; } }

.program-selection__link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none; }
  @media screen and (min-width: 1024px) {
    .program-selection__link {
      font-size: 20px;
      line-height: 25px; } }
  @media screen and (min-width: 1440px) {
    .program-selection__link {
      font-size: 24px;
      line-height: 29px; } }

.program-selection__link-text--more-info {
  display: none; }

.program-selection__mini-title--hover {
  background-color: transparent;
  z-index: 3; }

.program-selection__list-item-overlay {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 1;
  -webkit-animation: overlayOpacity ease 0.3s;
  animation: overlayOpacity ease 0.3s; }

@-webkit-keyframes overlayOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes overlayOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.swiper-slide {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(2, 2, 2, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(2, 2, 2, 0.2); }

.swiper-slide:not(.swiper-slide-active) {
  margin-top: 17px; }
  .swiper-slide:not(.swiper-slide-active) img {
    height: 412px;
    width: 100%; }

@media screen and (min-width: 640px) {
  .swiper-slide-active {
    margin-top: 17px; }
    .swiper-slide-active img {
      height: 412px; } }

.swiper-slide-active .program-selection__list-item-wrapper {
  height: 450px; }
  @media screen and (min-width: 640px) {
    .swiper-slide-active .program-selection__list-item-wrapper {
      height: 412px; } }
