.about-menthors__wrapper {
  @media screen and (min-width: $tab) {
    padding-top: 67px;
  }
  @media screen and (min-width: $desk) {
    padding-top: 75px;
  }
}
.about-menthors__count-btn {
  display: none;
  &:hover {
    background-color: $orange;
    color: $white;
  }
  &:active {
    opacity: 0.7;
  }
  transition: all ease .5s;
  @media screen and (min-width: $tab) {
    display: block;
    color: $orange;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    text-decoration: none;
    box-sizing: border-box;
    padding: 11px 65px;
    border: 2px solid $orange;
    margin: 0 auto;
    width: 100%;
    max-width: 560px;
    border-radius: 40px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: $desk) {
    font-size: 20px;
    line-height: 25px;
    padding: 15px 114px;
    max-width: 700px;
  }
}
