.main-nav {
  width: 100%;
  padding-top: 65px;
  @media screen and (min-width: $tab){
    padding: 0;
    max-width: 330px;
  }
  @media screen and (min-width: $desk) {
   max-width: 370px;
  }
}
.main-nav__list {
  @include reset-list;
  margin-bottom: 50px;
  position: relative;
  @media screen and (min-width: $tab){
    display: flex;
    justify-content: flex-start;
    margin: 0;
    box-sizing: border-box;
    padding-left: 17px;
  }
}
.main-nav__list::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $white;
  position: absolute;
  left: 0;
  bottom: -30px;
  @media screen and (min-width: $tab){
    display: none;
  }
}
.main-nav__item {
  margin-bottom: 11px;
  @media screen and (min-width: $tab){
    margin: 0;
    margin-right: 35px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.main-nav__link {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-decoration: none;
  color: $white;
  font-weight: 400;
  @media screen and (min-width: $tab) {
    font-size: 14px;
    &:hover{
      color: $orange;
      padding-bottom: 2px;
      border-bottom: 1px solid $orange;
      transition: border ease-in .4s;
    }
  }
  @media screen and (min-width: $desk) {
    font-size: 16px;
  }
}
.main-nav__link--active {
  @media screen and (min-width: $tab) {
    padding-bottom: 2px;
    border-bottom: 1px solid $orange
  }
}
